<app-header (dataEvent)="receiveData($event)"></app-header>
<div class="div-outer">
  <div>
    <h3 class="title">Recommended Movies</h3>
  </div>
  <div class="d-flex">
    <div>
      <div class="div-carousel" *ngFor="let movie of movies;let i=index">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner" (click)="onMovieClick(movie.id, movie.movieName)">
            <div class="carousel-item active grid-container">
              <div class="grid-item">
                <div class="d-block">
                  <div class="image">
                    <h1 class="name">{{movie.movieName}}</h1>
                  </div>
                  <div class="footer">
                    <i class="bi bi-star-fill"></i>
                    <p class="text-small">8.8/10</p>
                    <p class="text-small">58.5k votes</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-div">
      <div *ngIf="isDivVisible">
        <div>
          <h3>{{theatre.theatreName}}</h3>
          <button class="btn btn-danger" (click)="onBookTicketsClick()">Book Tickets</button>
        </div>
      </div>
    </div>
  </div>
</div>