.seat {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: smaller;
    cursor: pointer;
    font-weight: bold;
}
.reserved {
    background-color: greenyellow;
}
.available {
    background-color: #fff;
    cursor: pointer;
}
.disable {
    color: white;
    background-color: rgb(221, 220, 220);
    cursor: not-allowed;
    pointer-events: none;
}
