<div *ngIf="isUserLogged">
  <h1 mat-dialog-title>Seat Reservation</h1>
  <div mat-dialog-content>
    <p>Movie Name:{{bookingDetails.movieName}}</p>
    <p>Date:{{bookingDetails.date}}</p>
    <p>Theatre: {{ bookingDetails.theatreName }}</p>
    <p>Seats Booked:{{bookingDetails.seatNumbers}}</p>
    <p>Price:{{bookingDetails.totalAmount}}</p>
    <p>Timings:{{bookingDetails.showTime}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="confirmBooking()">Confirm Booking</button>
    <button mat-button [mat-dialog-close]="true">Close</button>
  </div>
</div>
<div *ngIf="!isUserLogged">
  <div mat-dialog-content>
    <p>Please login before booking tickets.</p>
    <div class="d-flex">
      <asl-google-signin-button></asl-google-signin-button>
      <img src="assets/microsoft-logo.png" (click)="loginWithMicrosoft()" class="logo">
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
  </div>
</div>