<h3 class="mt-2">Please select movie timings</h3>
<div class="mb-4  d-flex">
  <div class="box btn btn-danger" (click)="onSelectTime(time)" *ngFor="let time of theatreData.movieTimings">
    {{time}}
  </div>
</div>
<div class="seating-container">
  <div class="seat-row" *ngFor="let row of rows">
    <app-seat [seat]="seat" (selectedSeat)="reserveSeat($event)" *ngFor="let seat of row"></app-seat>
  </div>
</div>
<button *ngIf="isBookTicketsVisible" class="btn btn-danger" (click)="bookMovie()">Book Seats</button>