<div class="div-header">
    <div class="header-upper text-white">
        <div>
            <img [src]="logo" class="logo custom-ml" alt="">
            <input type="text" class="header-input \F52A text-small custom-ml"
                placeholder="search for Movies, Events, Plays, Sports and Activities">
        </div>
        <div class="right">
            <button (click)="signOut()" class="button btn btn-danger custom-ml">Sign Out</button>
        </div>
    </div>
    <div class="header-lower">
        <div class="d-flex text-white left">
            <p>Movies</p>
            <p>Shows</p>
            <p>Events</p>
            <p>Plays</p>
            <p>Activities</p>
        </div>
        <div class="d-flex text-white right">
            <p>ListYourShow</p>
            <p>Corporates</p>
            <p>Offers</p>
            <p>GiftCards</p>
        </div>
    </div>
</div>