.right-div {
    width: 500px;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin-bottom: 7px;
        background-color: beige;
    }
    h3 {
        width: 161px;
    }
}
