<app-header></app-header>
<div class="seating-container">
  <div class="seat-row" *ngFor="let row of rows">
    <div class="seat" *ngFor="let seat of row"
      [ngClass]="{ 'reserved': seat.isReserved, 'available': !seat.isReserved,'disable':seat.isDisabled }"
      (click)="reserveSeat(seat.seatNumber)">
      {{ seat.seatNumber }}
    </div>
  </div>
</div>
<div class="mt-4 mb-4  d-flex">
  <div class="box btn btn-danger" (click)="onSelectTime(time)" *ngFor="let time of timings">
    {{time}}
  </div>
</div>
<button class="btn btn-danger" (click)="onClick()">Book Seats</button>